#menu, #content { border: solid 1px silver; }
#content { height: 100%; }
.fl { float: left; }
.fr { float: right; }
.clr, .clear { clear: both; }
.ib { display: inline-block !important; }
.half { width: 50%; }
.qtr { width: 25%; }
.form-dirty {
  color: #0000ff;
}
