"use strict";
//# sourceURL=_pcm.js

<pcm>
  <span class="pcm {borders: bordersOn}">&pound;{getSummary()} pcm</span>

  <script>
    var self = this;
    self.bordersOn = false;

    getSummary() {
      var amount = self.opts.amount;
      var frequency = self.opts.frequency;
      var monthlyAmount = Utils.getMonthly(amount, frequency);
      var pretty = Utils.toCurrency(monthlyAmount);

      return pretty;
    }

    RiotControl.on(Messages.TOGGLE_BORDER, function(toggle) {
      self.bordersOn = toggle;
      self.update();
    });
  </script>

  <style scoped>
    .pcm {
      margin-left: 5px;
      font-style: italic;
      font-size: small;
      text-align: right;
      display: inline-block;
    }
    span.borders {
      border: solid 2px purple;
    }
  </style>
</pcm>
